absl-py==2.1.0
accelerate==1.2.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
alembic==1.14.0
anyio @ file:///croot/anyio_1729121277521/work
arfpy==0.1.1
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///work/perseverance-python-buildout/croot/argon2-cffi-bindings_1698877183685/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-lru @ file:///work/perseverance-python-buildout/croot/async-lru_1701732681408/work
attrs @ file:///croot/attrs_1729089401488/work
autograd==1.7.0
autograd-gamma==0.5.0
Babel @ file:///work/perseverance-python-buildout/croot/babel_1698863996602/work
be_great==0.0.8
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1718029820055/work
bleach @ file:///croot/bleach_1732290411627/work
blis==0.7.11
boto3==1.40.37
botocore==1.40.37
Bottleneck @ file:///croot/bottleneck_1709069899917/work
Brotli==1.1.0
cachetools==5.5.0
catalogue==2.0.10
category_encoders==2.8.1
CausalInference==0.1.3
certifi @ file:///croot/certifi_1734473278428/work/certifi
cffi @ file:///croot/cffi_1726856441404/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
click==8.1.7
cloudpathlib==0.20.0
cloudpickle==3.1.0
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorlog==6.9.0
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
confection==0.1.5
contourpy @ file:///work/perseverance-python-buildout/croot/contourpy_1701756524386/work
copulas==0.12.3
cssselect==1.3.0
cssutils==2.11.1
ctgan==0.11.0
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem==2.0.10
dataframe_image==0.2.7
datasets==3.0.1
dcor==0.6
debugpy @ file:///work/perseverance-python-buildout/croot/debugpy_1698884710808/work
decaf-synthetic-data==0.1.6
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1733236420667/work
deepecho==0.7.0
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill==0.3.8
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
Faker @ file:///home/conda/feedstock_root/build_artifacts/faker_1728383874256/work
fastai==2.7.18
fastcore==1.7.25
fastdownload==0.0.7
fastjsonschema @ file:///croot/python-fastjsonschema_1731939362158/work
fastprogress==1.0.3
feather-format==0.4.1
fflows==0.0.3
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1726613473834/work
fonttools @ file:///croot/fonttools_1713551344105/work
formulaic==1.0.2
frozenlist==1.4.1
fsspec==2024.6.1
geomloss==0.2.6
google-ai-generativelanguage==0.6.10
google-api-core==2.23.0
google-api-python-client==2.154.0
google-auth==2.36.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.3
googleapis-common-protos==1.66.0
graphviz==0.20.3
greenlet==3.1.1
grpcio==1.68.1
grpcio-status==1.68.1
h11 @ file:///croot/h11_1706652277403/work
h5py==3.12.1
httpcore @ file:///croot/httpcore_1706728464539/work
httplib2==0.22.0
httpx @ file:///croot/httpx_1723474802858/work
huggingface-hub==0.25.2
hungarian-algorithm==0.1.11
idna @ file:///croot/idna_1714398848350/work
imbalanced-learn==0.12.4
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1733223117029/work
inflate64==1.0.0
interface-meta==1.3.0
ipykernel @ file:///croot/ipykernel_1728665589812/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1732896932739/work
ipywidgets @ file:///croot/ipywidgets_1733504575802/work
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1715127149914/work
jmespath==1.0.1
joblib @ file:///croot/joblib_1718217211762/work
json5 @ file:///croot/json5_1730786798687/work
jsonschema @ file:///croot/jsonschema_1728486696720/work
jsonschema-specifications @ file:///work/perseverance-python-buildout/croot/jsonschema-specifications_1701731664072/work
jupyter @ file:///croot/jupyter_1709837193779/work
jupyter-console @ file:///work/perseverance-python-buildout/croot/jupyter_console_1707343324117/work
jupyter-events @ file:///croot/jupyter_events_1718738097486/work
jupyter-lsp @ file:///work/perseverance-python-buildout/croot/jupyter-lsp-meta_1707343107456/work
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
jupyter_server @ file:///croot/jupyter_server_1718827083372/work
jupyter_server_terminals @ file:///work/perseverance-python-buildout/croot/jupyter_server_terminals_1701732095362/work
jupyterlab @ file:///croot/jupyterlab_1725895214311/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab_server @ file:///croot/jupyterlab_server_1725865349919/work
jupyterlab_widgets @ file:///croot/jupyterlab_widgets_1733440870459/work
keopscore==2.2.3
kiwisolver @ file:///work/perseverance-python-buildout/croot/kiwisolver_1698847502605/work
langcodes==3.5.0
language_data==1.3.0
lifelines==0.29.0
lightgbm==4.6.0
lightning-utilities==0.11.9
llvmlite==0.43.0
loguru==0.7.3
lxml==5.4.0
Mako==1.3.8
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe @ file:///work/perseverance-python-buildout/croot/markupsafe_1707342994941/work
matplotlib==3.9.2
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mistune @ file:///work/perseverance-python-buildout/croot/mistune_1698895588147/work
mkl-service==2.4.0
mkl_fft @ file:///croot/mkl_fft_1725370245198/work
mkl_random @ file:///croot/mkl_random_1725370241878/work
monai==1.4.0
more-itertools==10.7.0
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
multidict==6.1.0
multiprocess==0.70.16
multivolumefile==0.2.3
murmurhash==1.0.11
narwhals==2.5.0
nbclient @ file:///work/perseverance-python-buildout/croot/nbclient_1701731912506/work
nbconvert @ file:///croot/nbconvert_1728049414448/work
nbformat @ file:///croot/nbformat_1728049424075/work
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==2.8.8
nflows==0.14
notebook @ file:///croot/notebook_1727197365392/work
notebook_shim @ file:///work/perseverance-python-buildout/croot/notebook-shim_1707343174853/work
numba==0.60.0
numexpr @ file:///work/perseverance-python-buildout/croot/numexpr_1698871031164/work
numpy==1.26.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.1.105
opacus==1.5.2
opt_einsum==3.4.0
optuna==4.1.0
overrides @ file:///work/perseverance-python-buildout/croot/overrides_1701732220415/work
packaging @ file:///croot/packaging_1720101850331/work
pandas @ file:///croot/pandas_1718308974269/work/dist/pandas-2.2.2-cp312-cp312-linux_x86_64.whl#sha256=92c518f7e09edd50b5caa5862636c51d6a29391803f3ada62f68aa52f27d8f92
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
patsy @ file:///croot/patsy_1718378176128/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pgmpy==0.1.26
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///croot/pillow_1721059439630/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
playwright==1.52.0
plotly==6.3.0
ply @ file:///work/perseverance-python-buildout/croot/ply_1698846188635/work
preshed==3.0.9
prometheus_client @ file:///croot/prometheus_client_1731953121795/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.29.1
psutil==6.1.0
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
py-synthpop==0.1.2
py7zr==0.22.0
pyarrow==17.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pybcj==1.0.2
pybind11==2.13.6
pycox==0.3.0
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodomex==3.21.0
pydantic==1.10.19
pyee==13.0.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1733221634316/work
pykeops==2.2.3
pymatch==0.3.4
pyparsing @ file:///croot/pyparsing_1725041624202/work
pyppmd==1.1.0
PyQt5==5.15.10
PyQt5-sip @ file:///work/perseverance-python-buildout/croot/pyqt-split_1698847927472/work/pyqt_sip
PySocks @ file:///work/perseverance-python-buildout/croot/pysocks_1698845478203/work
python-dateutil @ file:///croot/python-dateutil_1716495738603/work
python-json-logger @ file:///croot/python-json-logger_1734370021104/work
pytorch-lightning==1.9.5
pyts==0.13.0
pytz @ file:///croot/pytz_1713974312559/work
PyYAML @ file:///croot/pyyaml_1728657952215/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
pyzstd==0.16.2
qtconsole @ file:///croot/qtconsole_1726836502164/work
QtPy @ file:///work/perseverance-python-buildout/croot/qtpy_1701733558435/work
rdt==1.18.1
redis==5.2.1
referencing @ file:///work/perseverance-python-buildout/croot/referencing_1701731622327/work
regex==2024.11.6
requests @ file:///croot/requests_1730999120400/work
rfc3339-validator @ file:///work/perseverance-python-buildout/croot/rfc3339-validator_1698873973408/work
rfc3986-validator @ file:///work/perseverance-python-buildout/croot/rfc3986-validator_1698874010100/work
rich==13.9.4
rpds-py @ file:///croot/rpds-py_1732227637405/work
rpy2==3.5.16
rsa==4.9
s3transfer==0.14.0
safetensors==0.4.5
scikit-learn==1.7.2
scipy @ file:///croot/scipy_1717521478074/work/dist/scipy-1.13.1-cp312-cp312-linux_x86_64.whl#sha256=a60c1bdf983ee297b25e41830d00cc2af50f00bcb47e55578703fef1594ec56e
sdmetrics==0.23.0
sdv==1.27.0
Send2Trash @ file:///work/perseverance-python-buildout/croot/send2trash_1701732325573/work
setuptools==72.1.0
shap==0.46.0
shellingham==1.5.4
sip @ file:///work/perseverance-python-buildout/croot/sip_1698846977033/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
slicer==0.0.8
smart-open==7.0.5
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///work/perseverance-python-buildout/croot/soupsieve_1698866207280/work
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.36
srsly==2.4.8
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
statsmodels @ file:///croot/statsmodels_1718381181899/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1728484454203/work
synthcity==0.2.11
tabgan==2.2.4
tenacity==9.0.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
terminado @ file:///work/perseverance-python-buildout/croot/terminado_1698874934826/work
texttable==1.7.0
thinc==8.2.5
threadpoolctl @ file:///croot/threadpoolctl_1719407800858/work
tinycss2 @ file:///work/perseverance-python-buildout/croot/tinycss2_1698875051986/work
tokenizers==0.21.0
torch==2.2.0
torchdata==0.7.1
torchmetrics==1.6.0
torchtext==0.16.2
torchtuples==0.2.2
torchvision==0.17.0
tornado @ file:///croot/tornado_1718740109488/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1722737464726/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.47.0
triton==2.2.0
tsai==0.3.9
typer==0.15.1
typing==3.7.4.3
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
tzlocal==5.2
unicodedata2 @ file:///croot/unicodedata2_1713212950228/work
uritemplate==4.1.1
urllib3 @ file:///croot/urllib3_1727769808118/work
wasabi==1.1.3
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasel==0.4.1
webencodings @ file:///work/perseverance-python-buildout/croot/webencodings_1698866454420/work
websocket-client @ file:///croot/websocket-client_1715878298792/work
Werkzeug==3.1.3
wheel==0.44.0
widgetsnbextension @ file:///croot/widgetsnbextension_1733439572884/work
wrapt==1.17.0
xgboost==2.1.3
xgbse==0.3.3
xxhash==3.5.0
yarl==1.15.4
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zmq==0.0.0
